body { background-color: rgb(55, 67, 238);
       color: white; }
.main-heading { font-size: 50px;
                color: #fff;
                font-family: 'Courier New', Courier, monospace;}
p {font-size: 20px;}
a:link {color: black;}
.bgcolor { background-color: #aaffaa;}
#company-info { font-size: 30px; 
                font-family: 'Courier New', Courier, monospace;
                background-color: #cccccc;}
.contact {  width: 30%;
            padding-left: 15px;
            margin-left: 15px;
            float: right;
            font-style: italic;
            background-color: lightgray;
            color: #000;
  }
.photo { padding-left: 70px;
         width: 150px;
         height: 150px;
         margin-left: 15px;
         float: right; }